/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */

address {
    font-style: normal;

}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #2C2C2C;
    background: #FEFEFE;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}


.list-nav{
    color: var(--Black, #2C2C2C);
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
}
.item-link-home{
    color: #BBF330;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
}
.title-section-one{
    color: var(--Black, #2C2C2C);
        font-size: 48px;
        font-weight: 700;
        line-height: 120%;
        /* 57.6px */
}
.button-nav {
    color: var(--Black, #2C2C2C);
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
    /* 19.5px */
}
.paragraph-section-one{
    color: var(--Black, #2C2C2C);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        /* 24px */
}
.button-section-one{
    color: var(--Black, #2C2C2C);
        text-align: right;
        font-size: 13px;
        font-weight: 500;
        line-height: 150%;
        /* 19.5px */

}
.title-section-two{
    color: var(--Black, #2C2C2C);
        font-size: 42px;
        font-weight: 700;
        line-height: 120%;
        /* 50.4px */
}
.paragraph-section-two {
    color: var(--Black, #2C2C2C);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}
.title-item-section-two{
    color: var(--Black, #2C2C2C);
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
        /* 25.2px */
}
.paragraph-title-section-two{
    color: var(--Black, #2C2C2C);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        /* 21px */
}
.button-section-two{
color: var(--Black, #2C2C2C);
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
    /* 19.5px */
}
.title-section-three{
    color: var(--Black, #2C2C2C);
        text-align: center;
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
}
.paragraph-section-three{
    color: var(--Black, #2C2C2C);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
}
.title-section-four{
    color: var(--Black, #2C2C2C);
        font-size: 42px;
        font-weight: 700;
        line-height: normal;
}
.paragraph-section-four{
    color: var(--Black, #2C2C2C);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
}
.paragraph-item-section-four{

    color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
.title-name{
    color: var(--Black, #2C2C2C);
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 21px */
}
.coment{
    color: var(--Black, #2C2C2C);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        /* 21px */

}

/* section subscribe banan */

.section-subscribe {
    padding-top: 222px;
}

.all-contant-section {
 display: flex;
 align-items: center;
}

.title-subscribe-one{
color: var(--Black, #2C2C2C);
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 50.4px */
}

.paragraph-subscribe {
    max-width: 532px;
    padding-top: 20px;
    padding-bottom: 24px;
    color:#2C2C2C;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}


.form{
display: flex;
 align-items: center;
}


.form-label{
padding-right: 32px;
}

.form-input{
    width: 395px;
    padding: 12px 57px 12px 12px;
    border-radius: 30px;
    border: 0.854px solid  #FFE550;
     background: #FEFEFE;
}
.button-sub{
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    color: #2C2C2C;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
        /* 19.5px */
    border: none;
    border-radius: 30px;
    background: #BBF330;
}
/* FOOTER */



.list-footer-privacy{
    color: var(--Dark-green, #7EB101);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
}
.button-footer{
    color: var(--Black, #2C2C2C);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 21px */
}
.title-subscribe{
    color: var(--Black, #2C2C2C);
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        /* 21px */
}
.paragraph-policy{
color: var(--Black, #2C2C2C);
font-size: 12px;
font-weight: 400;
line-height: normal;
}

.end-paragraph{
    color: var(--Black, #2C2C2C);
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
}